.service {
    padding: 75px 0 8px;
    background-color: $color-11;

    & > h3 {
        margin-bottom: 51px;
        padding-bottom: 34px;
        font-size: 28.99px;

        &::before {
            bottom: 10px;
            width: 105px;
        }

        &::after {
            width: 33px;
            background-color: $color-11;
        }
    }

    .wrapper {
        flex-direction: column;
        width: 100%;

        .unit {
            margin-bottom: 64px;
        }
    }
}
