$mobile: 'screen and (min-width: 320px) and (max-width: 767px)';
$tablet: 'screen and (min-width: 768px) and (max-width: 1024px)';
$desktop: 'screen and (min-width: 1025px) and (max-width: 1200px)';
$desktop-large: 'screen and (min-width: 1201px) and (max-width: 1600px)';
$desktop-x-large: 'screen and (min-width: 1601px)';
