$color-1: #0E0E0E;
$color-2: #FFFFFF;
$color-3: #3AB6B2;
$color-4: #292929;
$color-5: #323232;
$color-6: #D3D3D3;
$color-7: #707070;
$color-8: #6A6A6A;
$color-9: #3B3B3B;
$color-10: #1E1E1E;
$color-11: #000000;
$color-12: rgba(40, 40, 40, .7);
$color-13: #606060;
$color-14: #D4D4D4;
$color-15: #7C7C7C;
$color-16: #111111;
$color-17: #FEFEFE;
$color-18: #252525;
$color-19: #46629E;
$color-20: #E6E6E6;
